@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Bebas+Neue&family=Big+Shoulders+Display:wght@700&family=Inter:wght@700&family=Karla:ital,wght@0,400;1,700&family=Lexend+Deca&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Bebas+Neue&family=Big+Shoulders+Display:wght@700&family=Inter:wght@700&family=Karla:ital,wght@0,400;1,700&family=Lexend&family=Lexend+Deca&family=Poppins:wght@600&display=swap');





*{
    margin: 0;
    padding: 0;

}
image,svg,picture{
    width: 100%;
}


header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/Flappy-Birds-gif.gif);
    
    background-size:100%;
    background-repeat: no-repeat;
    
    
}
.header-content{
    
   
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
#logo{
    width: 180.959px;
height: 42.921px; 
padding: 20px 25px;

}
.header-content nav{
    display: flex;
padding: 8px 180px;
justify-content: space-between;
align-items: center;
gap: 32px;
}
.text-gif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px; 
    padding: 200px 0px;

}
.text-gif h1{
    color: var(--gray-00, #FFF);
text-align: center;
font-family: Inter;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
letter-spacing: -1.6px; 



}
.text-gif p{
    color: var(--gray-00, #FFF);
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;

}
a{
    text-decoration: none;
    color: var(--gray-00, #FFF);
    color: var(--gray-00, #FFF);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 

}
.jeux{
    border-radius: 7px; 
    background: var(--primary-500, #0B63E5); 
    padding: 0px 55px;
    justify-content: center;
    align-items: center;
    gap: 12px; 
    border: none;
    color: var(--gray-00, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    text-transform: capitalize; 
    cursor: pointer;
}

.joueur{
    position: relative;
}
.joueur-text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: var(--gray-00, #FFF);
  padding: 10px;
  top: -80px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;

}
.bleu{
    color: #061C3D;

}
.about{
    display: flex;
padding: 124px 300px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 72px; 
}
.text-about{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 24px;
}



.img-desc {
    display: flex;
    align-items: flex-start;
    gap: 42px; 

}
.img-desc img{
    width: 312px;
height: 364px;
}
.text-about h1{
    color: #FFF;
text-align: center;
/* Heading/01 */
font-family: Inter;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
letter-spacing: -1.12px; 
}
.text-about{
    color: #9D9D9D;
text-align: center;
/* Body/Large/400 */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.img-desc{
    color: #9D9D9D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;

}
.about{
    background-color: black;
    
}
.team{
    display: inline-flex; 
    width: 100%;
    padding-bottom: 50px;
    padding-top: 124px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px; 
}
.text-team{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px; 


}
.les-membres{
    display: flex;
align-items: flex-start;
gap: 170px; 
}
.les-membres img{
    border-radius: 200px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

}
.open-position a{
    color: #0B63E5;
}
.team img{
    width: 200px;
height: 200px; 
}
#nazim #amine{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px; 

}
.text-mem{
    text-align: center;
}
.text-team h1{
    color: #FFF;
text-align: center;
/* Heading/01 */
font-family: Inter;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
letter-spacing: -1.12px; 
}
.text-team p{color: #6A778B;
    text-align: center;
    
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 

}
.text-mem h3{
    color: #FFF;
text-align: center;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px;  

}
.text-mem p{color: var(--gray-600, #6A778B);
    text-align: center;
    
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 

}
.open-position p{
    color: #6A778B;
text-align: center;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.team{
    background-color: black;
}
img{
    stroke: black;
}
  .commentaire{
    background-color: #FFE7BA;
    display: inline-flex;
    width: 100%;
    padding-top: 124px;
    padding-bottom: 124px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px; 
  }  
  .top{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .commentaire h1{
    color: var(--gray-900, #061C3D);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -1.12px; 
}
  .container {
    max-width: 1200px;
    width: 100%;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #0B63E5;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: var(--gray-00, #ececec);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #0B63E5;
    color:var(--gray-00, #ececec) ;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 590px;
    height: 350px;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }
.info{
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    padding: 70px 300px 32px 300px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 70px; 
white-space: nowrap;
}
.infor{
    display: flex;
align-items: flex-start;
gap: 24px; 
}

.item-link{
    display: flex;
padding-left: 0px;
flex-direction: column;
align-items: flex-start;
gap: 24px; 
}
.item-gauche{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px; 
margin-left: -100px;

}
.vide{
  width: 200px;
}
.item-link{
    display: flex;
padding-left: 0px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}
.item-product{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px; 
}
.item-social{
    display: flex;
    padding: 0px 72px 21px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.infor img{
    width: 208px;
}
.info{
    background-color: black;
    width: 100%;
    display: inline-flex;
    padding: 70px 0px 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.infor{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 50px  100px;
}
.bloc {
    flex-basis: 20%;
    margin: 0 30px;
}
.item-link, .item-services, .item-product, .item-social{
    font-size: 17px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.Portfolio-list, .SERVICES-list, .PRODUCT-list{
    list-style-type: none;
    font-family: Inter;
}
.PRODUCT-list li{
    padding: 7px 0;
}
.Portfolio-list li{
    padding: 5px 0;
}
.SERVICES-list li{
    padding: 5px 0;
}
#un-titre{
    color: var(--gray-00, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 5px;
}
.item-gauche {
    color: var(--gray-300, #B4BBC5);
    padding-top: 40px;
    padding-left: 30px;
    font-family: Inter;
    font-size: 12px; 
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
}

.info h3{
    color: var(--gray-00, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.16px;
    text-transform: uppercase; 
}
li{
    color: var(--gray-300, #B4BBC5);
}
.logiue{
    background-color: var(--gray-900, #061C3D); 
    height: 2px;
    width: 82%;
    margin: 0 auto; 
    border: none;
}
.end {
    background-color: black;
    color: var(--gray-300, #B4BBC5);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.end p {
    padding-bottom: 30px;
}
.infor h4{
    color: white;
    font-family: Inter;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.item-social button {
    background-color: rgb(19, 18, 18);
    color: white;
    padding: 2px 20px; 
    border-radius: 6px; 
    border: none;
    margin-right: 1px; 
    cursor: pointer; 
    font-size: 16px; 
    line-height: 2;
    
}


i {
    font-size: 24px; 
    margin-right: 10px; 
    vertical-align: middle;
}
.btn :hover{
    background-color: blue;

}
